.root {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 50px;
    box-shadow: 2px 2px 6px 0 rgba(93, 92, 97, 0.21), -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
    border-radius: 25%;
    line-height: 50px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
