:global(.theme-dark) .root {
    background-color: #263243;
}

:global(.theme-light) .root {
    background-color: #eff1f5;
}

.root {
    width: 300px;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: rgba(139,52,77,0.01);
    margin: 40px auto;
}
.result {
    line-height: 80px;
    text-align: right;
    font-size: 55px;
    padding-right: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

:global(.theme-light) .root {
    background-color: #eff1f5;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: start;
}

.flex1 {
    flex: 1
}

.flex3 {
    flex: 3
}

.yellowButton {
    color: #fb9406;
    margin-left: 5px;
}

.grayButton {
    color: #696f7e;
}



